@model IEnumerable<Map4D.Models.GuestModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GuestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GuestName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdGuest }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdGuest }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdGuest })
        </td>
    </tr>
}

</table>
