@model IEnumerable<Map4D.Models.Customers>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<div class="box box-danger">
    <div class="box-header">
        <h2>Danh sách khách hàng</h2>
    </div>
    <div class="box-body">
        <table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegisterDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script>
    var stt = 0;
    $(document).ready(function () {
        $('#example').DataTable({
            responsive: true,
            stateSave: true,
            ajax: "/api/customers",
            columns: [
                {
                    data: null,
                    render: function () {
                        return ++stt;
                    }
                },
                { data: "Name" },
                { data: "Company" },
                { data: "Phone" },
                { data: "Email" },
                {
                    data: "RegisterDate",
                    render: function (data) {
                        var date = new Date(data);
                        return date.toLocaleDateString('en-GB');
                    }
                },
                {
                    data: "Status",
                    render: function (data) {
                        return data ? "Đã liên hệ" : "Chưa liên hệ";
                    }
                },
                {
                    data: null,
                }
            ],
            rowCallback: function (row, data, index) {
                console.log(data.ID);
                $('td:eq(7)', row).html(
                    '<a data-toggle="tooltip" title="Sửa" href="/admin/customers/edit?id=' + data.ID + '" > <i class="fas fa-edit"></i></a > ' + ' ' +
                    '<a data-toggle="tooltip" title="Chi tiết" href="/admin/customers/details?id=' + data.ID + '"><i class="fas fa-info-circle"></i></a>' + ' ' +
                    '<a data-toggle="tooltip" class="btnXoa" title="Xóa" href="javascript:;" data-id="' + data.ID + '"><i class="fas fa-trash-alt text-danger"></i></a>'
                );
            }
        });
        $('data-toggle="tooltip"').tooltip();
    });
</script>
