<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="Description" content="Map4D là bản đồ duy nhất ở Việt Nam hiển thị bản đồ 4D theo thời gian thực. Được xây dựng từ nhiều lớp dữ liệu, sẵn sàng kết nối và hướng tới 1 thành phố thông minh trực tuyến. Hướng đến việc tích hợp nhiều ứng dụng vào một nơi cho việc quản lý nhà nước, phục vụ sản xuất kinh doanh cho doanh nghiệp và người dân.">
    <meta name="Keywords" content="map4d, iotlink, xinkciti, map4d, bản đồ Việt Nam, Bản đồ 3D, Công nghệ nền tảng, Công nghệ 4.0, Công ty công nghệ, Map Framework, Map 3D, Bản đồ 3D ">
    <title>@ViewBag.Title - Map4D</title>
    <link href="~/Content/Client/img/logoMap4D.png" type="image/png" rel="shortcut icon" />
    <link href="~/Content/Client/bootstrap4.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/bower_components/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/Content/Client/css/styleMenu.css" rel="stylesheet" />
    <link href="~/Content/Client/css/styleFooter.css" rel="stylesheet" />
    @*css sweetalert*@
    <link href="~/Content/sweetalert/css/sweetalert.min.css" rel="stylesheet" />
    @RenderSection("css", required: false)
</head>
<body>
    @Html.Partial("_Menu")
    <div class="row" id="wrapper">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Client/bootstrap4.1.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/sticky-menu.js"></script>
    <script src="~/Scripts/js/footerScroll.js"></script>
    @*js sweetalert*@
    <script src="~/Content/Client/sweetalert/js/sweetalert.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112387324-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-112387324-4');
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
