<div id="menu-top" class="row">
    <div class="text-center col-md-12" id="menu-recommend">
        <marquee direction="right">
            <img src="~/Content/Client/img/icon-page-1_0017_star-.png" />
            <span>@Map4D.Resources.My_texts.Đăngkýngaybâygiờ</span>
            <img src="~/Content/Client/img/icon-page-1_0023_continue-.png" />
        </marquee>
    </div>
    <nav class="navbar navbar-expand-lg col-md-12  navbar-fixed-top">
        <div class="col-md-2 logo text-right">
            <a class="navbar-brand" href="@Url.Action("Index","Home")" id="logo-map4d" title="Map4D">
                <img class="img-responsive w-75" src="~/Content/Client/img/icon-page-1_0022_logo-map-4d.png" />
            </a>
        </div>
        <button class="navbar-toggler text-right" id="btn-menu" type="button" data-toggle="collapse" data-target=".showMenu" aria-controls="showMenu">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse showMenu" id="list-menu-top">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 w-100">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Products","Home")">@Map4D.Resources.My_texts.SảnPhẩm</a>
                </li>
                <li class="space-item">|</li>
                <li class="nav-item">
                    <a class="nav-link" href="#">@Map4D.Resources.My_texts.GiảiPháp</a>
                </li>
                <li class="space-item">|</li>
                <li class="nav-item">
                    <a class="nav-link" href="#">@Map4D.Resources.My_texts.TàiLiệu</a>
                </li>
                <li class="space-item">|</li>
                <li class="nav-item">
                    <a class="nav-link" href="#">@Map4D.Resources.My_texts.CôngTy</a>
                </li>
                <li class="space-item">|</li>
                <li class="nav-item">
                    <a class="nav-link" href="#">@Map4D.Resources.My_texts.Bảnggiá</a>
                </li>
                <li class="space-item"></li>
                <li class="nav-item">
                    <div class="btn-group" id="menu-language">
                        <span>@Map4D.Resources.My_texts.Ngônngữ</span>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="img-responsive" src="~/Content/Client/img/Flag_of_Vietnam.svg.png" />
                        </a>
                        <div class="dropdown-menu" id="languages">
                            <button class="dropdown-item" type="button">
                                <img class="img-responsive" src="~/Content/Client/img/Flag_of_Vietnam.svg.png" />
                                @Html.ActionLink("Viet Nam", "Change", "Language", new { LanguageAbbervation = "vn" }, null)
                            </button>
                            <button class="dropdown-item" type="button">
                                <img class="img-responsive" src="~/Content/Client/img/Flag_of_the_United_States_(Pantone).png" />
                                @Html.ActionLink("English", "Change", "Language", new { LanguageAbbervation = "en" }, null)

                            </button>
                        </div>
                    </div>
                </li>
                <li class="space-item"></li>
                <li class="nav-item">
                    <a class="btn" id="btn-register">@Map4D.Resources.My_texts.Đăngký</a>
                </li>
            </ul>
        </div>
    </nav>
</div>