@model Map4D.Models.Contact

@{
    ViewBag.Title = "GuestDetail";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
@section css{
    <link href="~/Content/Admin/dist/css/styleContactDetail.css" rel="stylesheet" />
}
<div class="box box-danger">
    <div class="box-header">
        <h2>Chi tiết liên hệ</h2>
    </div>
    <div class="box-body">
        <dl class="dl-horizontal col-12">
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd class="col-md-6">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd class="col-md-6">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Subject)
            </dt>

            <dd class="col-md-6">
                @Html.DisplayFor(model => model.Subject)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Message)
            </dt>

            <dd class="col-md-6">
                @Html.DisplayFor(model => model.Message)
            </dd>

            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd class="col-md-6">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd class="col-md-6">
                @(Model.Status ? "Đã phản hồi":"Chưa phản hồi")
            </dd>

        </dl>
    </div>
    <div class="box-footer">
        <a href="@Url.Action("ListContact")" class="btn btn-default">Quay lại</a>
    </div>
</div>

