@model IEnumerable<Map4D.Models.GuestModels>
@{
    /**/

    ViewBag.Title = "GuestPost";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<div class="content">
    <h2>Hộp thư liên hệ</h2>
    <table class="table table-striped table-bordered nowrap" id="myTable">
        <thead>
            <tr>
                <th>
                    Họ & tên
                </th>
                <th>
                    Email
                </th>
                <th>
                    Tiêu đề
                </th>
                <th>
                    Tin nhắn
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GuestName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GuestEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GuestSubject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.ActionLink("Detail", "GuestDetail", new { id = item.IdGuest })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        var table = $('#myTable').DataTable({
            responsive: true
        });

        new $.fn.dataTable.FixedHeader(table);
    });
</script>
