
@{
    ViewBag.Title = "Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/Client/css/document.css" />
}

<div class="container document">
    <div class="row intro-section">
        <div class="col-lg-6 col-md-12 col-sm-12 box-img">
            <img src="~/Content/Client/img/document-logo.png" />
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 box-intro">
            <span class="box-intro-text">
                @Map4D.Resources.My_texts.Doc_Introduction
                @*Cung cấp giải pháp map 2D, 3D & 4D trên các nền tảng Mobile (Android & iOS) và Web.
                    Cung cấp các ví dụ mẫu (sample) và tài liệu cho lập trình viên có thể nhanh chóng phát triển ứng dụng dựa trên map4d SDK*@
            </span>
            <br />
            <span class="box-intro-update-date">
                @Map4D.Resources.My_texts.Doc_UpdatedTime
                @*Cập nhập mới ngày 31 tháng 12 năm 2018*@
            </span>
        </div>
    </div>
    <div class="row list-box">
        <div class="col-lg-3 col-md-6 col-sm-12 ">
            <div class="box-item">
                <img src="~/Content/Client/img/SDK-IOS.png" class="box-item-img" /><br />
                <span class="box-item-title">
                    @Map4D.Resources.My_texts.Doc_IOSTitle
                    @*iOS SDK*@
                </span><br />
                <div class="box-item-text">
                    <span class="box-item-text-middle">
                        @Map4D.Resources.My_texts.Doc_IOSContent
                        @*Cung cấp các ví dụ về các phiên bản phát triển điển hình cho SDK iOS, mỗi phiên bản bao gồm iOS*@
                    </span>
                </div>
                <div>
                    <a class="btn btn-primary btn-explore" href="https://github.com/iotlinkadmin/map4d-ios-sdk" target="_blank">@Map4D.Resources.My_texts.Doc_Explorer</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="box-item">
                <img src="~/Content/Client/img/SDK-Android.png" class="box-item-img" /><br />
                <span class="box-item-title">
                    @Map4D.Resources.My_texts.Doc_AndroidTitle
                    @*Android SDK*@
                </span><br />
                <div class="box-item-text">
                    <div class="box-item-text-middle">
                        @Map4D.Resources.My_texts.Doc_AndroidContent
                        @*Cung cấp các ví dụ về các phiên bản phát triển điển hình cho SDK Android, mỗi trong số đó bao gồm các triển khai của Android*@
                    </div>
                </div>
                <div>
                    <a class="btn btn-primary btn-explore" href="https://github.com/iotlinkadmin/map4d-android-sdk" target="_blank">@Map4D.Resources.My_texts.Doc_Explorer</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="box-item">
                <img src="~/Content/Client/img/SDK-Web.png" class="box-item-img" /><br />
                <span class="box-item-title">
                    @Map4D.Resources.My_texts.Doc_WebTitle
                    @*Web SDK*@
                </span><br />
                <div class="box-item-text">
                    <span class="box-item-text-middle">
                        @Map4D.Resources.My_texts.Doc_WebContent
                        @*Cung cấp các ví dụ về các phiên bản  phát triển điển hình cho SDK Web, mỗi phiên bản triển khai Web*@
                    </span>
                </div>
                <div>
                    <a class="btn btn-primary btn-explore" href="https://github.com/iotlinkadmin/map4d-web-sdk" target="_blank">@Map4D.Resources.My_texts.Doc_Explorer</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="box-item">
                <img src="~/Content/Client/img/SDK-API.png" class="box-item-img" /><br />
                <span class="box-item-title">
                    @Map4D.Resources.My_texts.Doc_APITitle
                    @*API dịch vụ map*@
                </span><br />
                <div class="box-item-text">
                    <span class="box-item-text-middle">
                        @Map4D.Resources.My_texts.Doc_APIContent
                        @*Cung cấp các ví dụ về các tính năng API dịch vụ bản đồ phổ biến và tổng quan nhanh về các tính năng cốt lõi của API dịch vụ bản đồ bằng cách xem xét ví dụ*@
                    </span>
                </div>
                <div>
                    <a class="btn btn-primary btn-explore" href="https://github.com/iotlinkadmin/map4d-service-api" target="_blank">@Map4D.Resources.My_texts.Doc_Explorer</a>
                </div>
            </div>
        </div>
    </div>


    @*<div class="col-md-12 text-center">
            <span class="welcome">Hi ! Welcome to the Map4D. Check out the full version.</span>
        </div>
        <div class="col-md-12 text-center">
            <span class="version">Current version: v1.0. Update Dec 21, 2018</span>
        </div>
        <div class="col-md-12">
            <div class="row box-link text-center">
                <div class="col-md-4 col-sm-12">
                    a
                </div>
                <div class="col-md-4 col-sm-12">
                    b
                </div>
                <div class="col-md-4 col-sm-12">
                    c
                </div>
            </div>
        </div>*@
</div>


