@model Map4D.Models.GuestModels
@{
    Layout = null;
}

<div class="row w-100 text-center" id="get-in-touch">
    <div class="col-md-12 text-center" id="get-in-touch-title">
        <h1>Liên hệ với chúng tôi</h1>
    </div>
    <div class="col-md-12 text-center" id="get-in-touch-icon">
        <a href="#" class="mr-2" title="Facebook"><label><i class="fab fa-facebook-f"></i></label></a>
        <a href="#" title="Twitter"><label><i class="fab fa-twitter"></i></label></a>
        <a href="#" class="ml-2" title="Pinterest"><label><i class="fab fa-pinterest-p"></i></label></a>
    </div>

    <div class="col-12 text-center" id="get-in-touch-form">
        @using (Html.BeginForm("GetInTouch", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <span class="">
                @Html.ValidationMessageFor(model => model.GuestName, "", new { @color = "green" })
                <br />
                @Html.ValidationMessageFor(model => model.GuestEmail, "", new { @class = "" })
                <br />
                @Html.ValidationMessageFor(model => model.GuestSubject, "", new { @class = "" })
                <br />
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "" })
                <br />
            </span>

            <div class="input-group col-12 col-sm-10 col-md-7 col-lg-5 mx-auto text-center">
                @Html.EditorFor(model => model.GuestName, new { htmlAttributes = new { @class = "w-50", @id = "your-name",
               @placeholder = "Your Name", @name = "name", @type = "text" ,@required="",@minlength="3"} })

                @Html.EditorFor(model => model.GuestEmail, new { htmlAttributes = new { @class = "w-50", @id = "your-email", @placeholder = "Your Email", @name = "name", @type = "text" } })

                @Html.EditorFor(model => model.GuestSubject, new { htmlAttributes = new { @class = "w-100", @id = "subject", @placeholder = "Your Subject", @name = "name", @type = "text" } })

                @Html.TextAreaFor(model => model.Message, new { @class = "w-100", @placeholder = "Message", @name = "message", @id = "message" })

            </div>
            <input type="submit" name="name" value="Send Now" class="btn btn-success" id="btn-submit" />
        }
    </div>

</div>

        <div class="input-group col-12 col-sm-10 col-md-7 col-lg-5 mx-auto text-center">
            <input type="text" name="name" value="" placeholder="Họ & tên" class="w-50" id="your-name"/>
            <input type="text" name="name" value="" placeholder="Email"  class="w-50" id="your-email"/>
            <input type="text" name="name" value="" placeholder="Tiêu đề"  class="w-100" id="subject"/>
            <textarea name="message" placeholder="Tin nhắn" class="w-100"></textarea>
        </div>
        <input type="submit" name="name" value="Gửi ngay bây giờ" class="btn btn-success" id="btn-submit"/>
    </div>    
</div>