@model Map4D.Models.GuestModels
@{
    Layout = null;
}

<div class="row w-100 text-center" id="get-in-touch">
    <div class="col-md-12 text-center" id="get-in-touch-title">
        <h1>Liên hệ với chúng tôi</h1>
    </div>
    <div class="col-md-12 text-center" id="get-in-touch-icon">
        <a href="#" class="mr-2" title="Facebook"><label><i class="fab fa-facebook-f"></i></label></a>
        <a href="#" title="Twitter"><label><i class="fab fa-twitter"></i></label></a>
        <a href="#" class="ml-2" title="Pinterest"><label><i class="fab fa-pinterest-p"></i></label></a>
    </div>

    <div class="col-12 text-center" id="get-in-touch-form">
        @using (Html.BeginForm("GetInTouch", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="input-group col-12 col-sm-10 col-md-7 col-lg-5 mx-auto text-center">
                @Html.EditorFor(model => model.GuestName, new { htmlAttributes = new { @class = "w-50", @id = "your-name",
               @placeholder = "Họ & tên", @name = "name", @type = "text" ,@required="",@minlength="3"} })

                @Html.EditorFor(model => model.GuestEmail, new { htmlAttributes = new { @class = "w-50", @id = "your-email", @placeholder = "Email", @name = "name", @type = "text" } })

                @Html.EditorFor(model => model.GuestSubject, new { htmlAttributes = new { @class = "w-100", @id = "subject", @placeholder = "Tiêu đề", @name = "name", @type = "text" } })

                @Html.TextAreaFor(model => model.Message, new { @class = "w-100", @placeholder = "Tin nhắn", @name = "message", @id = "message" })

            </div>
            <input type="submit" name="name" value="Gửi ngay bây giờ" class="btn btn-success" id="btn-submit" />
        }
    </div>

</div>

        