@{
                /**/

                Layout = null;
}
<div class="row w-100" id="map-box">
    <div class="col-md-12 text-center" id="map-box-title">
        <h1>@Map4D.Resources.My_texts.NềntảngMap4D</h1>
    </div>
    <div class="row container mx-auto" id="map-box-content">
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 mx-auto">
            <a href="javascript:;" id="visual">
                <div class="col-md-12 mx-auto text-center map-box-item">
                    <img src="~/Content/Client/img/icon_0007_3d-Icon.png" alt="" class="img-responsive"/>
                    <h5>@Map4D.Resources.My_texts.TrựcQuan3D</h5>
                </div>
            </a>
        </div>
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 mx-auto">
            <a href="#" id="multi-platform">
                <div class="col-md-12 mx-auto text-center map-box-item">
                    <img src="~/Content/Client/img/icon_0005_website--copy-2.png" alt="" class="img-responsive"/>
                    <h5>@Map4D.Resources.My_texts.ĐaNềnTảng</h5>
                </div>
            </a>
        </div>
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 mx-auto">
            <a href="#sroll-direct" id="direct">
                <div class="col-md-12 mx-auto text-center map-box-item">
                    <img src="~/Content/Client/img/icon_0003_location.png"  alt="" class="img-responsive"/>
                    <h5>@Map4D.Resources.My_texts.ChỉĐường</h5>
                </div>
            </a>
        </div>
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 mx-auto">
            <a href="#web-app-relity" id="utilities">
                <div class="col-md-12 mx-auto text-center map-box-item">
                    <img src="~/Content/Client/img/icon_0001_Tiện-ích-địa-điểm.png" alt=""  class="img-responsive"/>
                    <h5>@Map4D.Resources.My_texts.TiệnÍchĐịaChỉ</h5>
                </div>
            </a>
        </div>
    </div>
</div>