@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Content/Client/css/Pricing.css" rel="stylesheet" />
}
<div class="row w-100" id="pricing">
    <div class="row w-100 pricing-title text-center">
        <h2 class="w-100">@Map4D.Resources.My_texts.GoiDichVu</h2>
        <p class="w-100">@Map4D.Resources.My_texts.ChungToiCungCapGoiDichVu. <span>@Map4D.Resources.My_texts.DoiVoiBangBeta</span></p>
    </div>
    <div class="row w-100 prircing-content container mx-auto">
        <div class="col-12 col-sm-8 col-md-6 box-item mx-auto" id="basic">
            <div class="header col-12 bg-primary text-center text-white">
                <p><b>@Map4D.Resources.My_texts.BasicPackage</b> <span>(@Map4D.Resources.My_texts.ThePriceIsDependOnRequest)</span></p>
            </div>
            <div class="price row col-12">
                <div class="col-6 price-left text-center">
                    <h5>@Map4D.Resources.My_texts.Free</h5>
                    <h3>0 $</h3>
                    <p>@Map4D.Resources.My_texts.AccessRequests</p>
                </div>
                <div class="col-6 price-right text-center">
                    <h5>@Map4D.Resources.My_texts.Plus</h5>
                    <h3>0.35 $</h3>
                    <p>@Map4D.Resources.My_texts.AccessRequestsPerNext</p>
                </div>
            </div>
            <div class="descript row col-12 text-left">
                <div class="left col-6">
                    <h5>@Map4D.Resources.My_texts.BasicPackage</h5>
                    <small>@Map4D.Resources.My_texts.ApDungChoBangWebVaMobile</small> <br />
                    <label>@Map4D.Resources.My_texts.CacTuongTacTrenBanDo</label><br />
                    <ul>
                        <li>@Map4D.Resources.My_texts.BanDoTrenNenTangWeb</li>
                        <li>@Map4D.Resources.My_texts.BanDoTrenNenTangMobile</li>
                        <li>
                            <ul class="list-style pl-0">
                                <li>@Map4D.Resources.My_texts.DuLieu2D3D</li>
                                <li>@Map4D.Resources.My_texts.ThoiTietVaThoiGianThuc</li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <div class="right col-6">
                    <h5>@Map4D.Resources.My_texts.CacDichVuTuongTac</h5>
                    <label>@Map4D.Resources.My_texts.TimKiem</label>
                    <ul class="list-style">
                        <li>@Map4D.Resources.My_texts.DiaDiem</li>
                        <li>@Map4D.Resources.My_texts.DanhMucDiaDiem</li>
                        <li>@Map4D.Resources.My_texts.DiaDiemXungQuanh</li>
                        <li>@Map4D.Resources.My_texts.ToiUuHoaKetQua</li>
                    </ul>
                    <label>@Map4D.Resources.My_texts.ToaDoBanDo</label>
                    <ul class="list-style">
                        <li>@Map4D.Resources.My_texts.ChuyenToaDo</li>
                    </ul>
                    <label>@Map4D.Resources.My_texts.DinhTuyen</label>
                    <ul class="list-style">
                        <li>@Map4D.Resources.My_texts.ChỉĐường</li>
                        <li>@Map4D.Resources.My_texts.ChiDuongTheoNhieuHuong</li>
                        <li>@Map4D.Resources.My_texts.ToiUuHoaKetQua</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-3 box-item mx-auto" id="support">
            <div class="header col-12 bg-primary text-center text-white">
                <p><b>@Map4D.Resources.My_texts.GoiHoTro</b></p>
            </div>
            <div class="price row col-12">
                <div class="col-12 text-center">
                    <h5>@Map4D.Resources.My_texts.Plus</h5>
                    <h3>20 $</h3>
                    <p>@Map4D.Resources.My_texts.PerHours</p>
                </div>
            </div>
            <div class="descript row col-12 text-left">
                <div class="left col-12">
                    <h5>@Map4D.Resources.My_texts.CacDichVuBoSung</h5>
                    <ul class="list-style">
                        <li>@Map4D.Resources.My_texts.DungKhongGianThucTeAo</li>
                        <li>@Map4D.Resources.My_texts.XayDungDoiTuong3D</li>
                        <li>@Map4D.Resources.My_texts.CongCuChinhSua</li>
                        <li>@Map4D.Resources.My_texts.NguoiDungTuTai</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 box-item mx-auto" id="more-information">
            <div class="header col-12 bg-primary text-center text-white">
                <p><b>@Map4D.Resources.My_texts.MoreInformation</b></p>
            </div>
            <div class="content">
                <p>
                    @Map4D.Resources.My_texts.Map4DCamKet
                    <a href="/#contact">@Map4D.Resources.My_texts.LienHeVoiChungToiTaiDay</a>
                </p>
            </div>
        </div>
    </div>
</div>