@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Content/Client/css/PriceTable.css" rel="stylesheet" />
}
<div class="row w-100" id="pricing">
    <div class="row w-100 pricing-title text-center">
        <h2 class="w-100">@Map4D.Resources.My_texts.GoiDichVu</h2>
        <p class="w-100">@Map4D.Resources.My_texts.ChungToiCungCapGoiDichVu</p>
        <p class="w-100 small">@Map4D.Resources.My_texts.DoiVoiBangBeta</p>
    </div>
    <div class="row w-100 prircing-content container mx-auto">
        <div class="col-md-8" id="pay">
            <div class="title text-center col-12">
                <P>@Map4D.Resources.My_texts.GoiCoBanTheoTungLuotTruyCap</P>
            </div>
            <div class="box-price w-100 row container">
                <div class="price col-md-3" id="free">
                    <h5>@Map4D.Resources.My_texts.MienPhi</h5>
                    <h3>$ 0 <small>@Map4D.Resources.My_texts.DoiVoi</small></h3>
                    <p>@Map4D.Resources.My_texts.TruyCapDuoi</p>
                </div>
                <div class="descript col-md-5 responsive-hidden">
                    <h5>@Map4D.Resources.My_texts.GoiCoBan <br /> <small>@Map4D.Resources.My_texts.ApDungChoBangWebVaMobile</small></h5>
                    <label>@Map4D.Resources.My_texts.CacTuongTacTrenBanDo</label>
                    <ul>
                        <li>+ @Map4D.Resources.My_texts.BanDoTrenNenTangWeb</li>
                        <li>+ @Map4D.Resources.My_texts.BanDoTrenNenTangMobile</li>
                        <li>+ @Map4D.Resources.My_texts.DuLieu2D3D</li>
                        <li>+ @Map4D.Resources.My_texts.ThoiTietVaThoiGianThuc</li>
                    </ul>
                </div>
                <div class="service col-md-4 responsive-hidden">
                    <h5>@Map4D.Resources.My_texts.CacDichVuTuongTac</h5>
                    <label>@Map4D.Resources.My_texts.TimKiem</label>
                    <ul>
                        <li>+ @Map4D.Resources.My_texts.DiaDiem</li>
                        <li>+ @Map4D.Resources.My_texts.DanhMucDiaDiem</li>
                        <li>+ @Map4D.Resources.My_texts.DiaDiemXungQuanh</li>
                        <li>+ @Map4D.Resources.My_texts.ToiUuHoaKetQua</li>
                    </ul>
                    <label>@Map4D.Resources.My_texts.ToaDoBanDo</label>
                    <ul>
                        <li>+ @Map4D.Resources.My_texts.ChuyenToaDo</li>
                    </ul>
                    <label>@Map4D.Resources.My_texts.DinhTuyen</label>
                    <ul>
                        <li>+ @Map4D.Resources.My_texts.ChỉĐường</li>
                        <li>+ @Map4D.Resources.My_texts.ChiDuongTheoNhieuHuong</li>
                        <li>+ @Map4D.Resources.My_texts.ToiUuHoaKetQua</li>
                    </ul>
                </div>
            </div>
            <hr class="responsive-hidden" />
            <div class="box-price w-100 row container">
                <div class="price col-md-3">
                    <span>@Map4D.Resources.My_texts.CongThem</span>
                    <h3>$ 0.35 <small>@Map4D.Resources.My_texts.Plus</small></h3>
                    <p>@Map4D.Resources.My_texts.TrenLuotTruyCap</p>
                </div>
                <div class="descript col-md-5">
                    <h5>@Map4D.Resources.My_texts.GoiCoBan <br /> <small>@Map4D.Resources.My_texts.ApDungChoBangWebVaMobile</small></h5>
                    <label>@Map4D.Resources.My_texts.CacTuongTacTrenBanDo</label>
                    <ul>
                        <li>+ @Map4D.Resources.My_texts.BanDoTrenNenTangWeb</li>
                        <li>+ @Map4D.Resources.My_texts.BanDoTrenNenTangMobile</li>
                        <li>+ @Map4D.Resources.My_texts.DuLieu2D3D</li>
                        <li>+ @Map4D.Resources.My_texts.ThoiTietVaThoiGianThuc</li>
                    </ul>
                </div>
                <div class="service col-md-4">
                    <h5>@Map4D.Resources.My_texts.CacDichVuTuongTac</h5>
                    <label>@Map4D.Resources.My_texts.TimKiem</label>
                    <ul>
                        <li>+ @Map4D.Resources.My_texts.DiaDiem</li>
                        <li>+ @Map4D.Resources.My_texts.DanhMucDiaDiem</li>
                        <li>+ @Map4D.Resources.My_texts.DiaDiemXungQuanh</li>
                        <li>+ @Map4D.Resources.My_texts.ToiUuHoaKetQua</li>
                    </ul>
                    <label>@Map4D.Resources.My_texts.ToaDoBanDo</label>
                    <ul>
                        <li>+ @Map4D.Resources.My_texts.ChuyenToaDo</li>
                    </ul>
                    <label>@Map4D.Resources.My_texts.DinhTuyen</label>
                    <ul>
                        <li>+ @Map4D.Resources.My_texts.ChỉĐường</li>
                        <li>+ @Map4D.Resources.My_texts.ChiDuongTheoNhieuHuong</li>
                        <li>+ @Map4D.Resources.My_texts.ToiUuHoaKetQua</li>
                    </ul>
                </div>
            </div>
            <hr class="responsive-hidden" />            
            <div class="box-price w-100 row container last">
                <div class="price col-md-3">
                    <h3>$ 20</h3>
                    <p>@Map4D.Resources.My_texts.MotGio</p>
                </div>
                <div class="descript col-md-5">
                    <h5>@Map4D.Resources.My_texts.GoiHoTro</h5>
                </div>
                <div class="service col-md-4">
                    <h5>@Map4D.Resources.My_texts.CacDichVuBoSung</h5>
                    <label>
                        @Map4D.Resources.My_texts.DungKhongGianThucTeAo <br />
                        @Map4D.Resources.My_texts.XayDungDoiTuong3D <br />
                        @Map4D.Resources.My_texts.CongCuChinhSua <br />
                        @Map4D.Resources.My_texts.NguoiDungTuTai
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-4" id="behind">
            <div class="title text-center w-100">
                <P>@Map4D.Resources.My_texts.PhiXemNoiDung</P>
            </div>
            <div class="w-100 text-center behind-content">
                <p>@Map4D.Resources.My_texts.NeuBanQuanTam</p>
                <a href="#">@Map4D.Resources.My_texts.LienHeVoiChungToiTaiDay</a>
            </div>
        </div>
    </div>
</div>