@model Map4D.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = Map4D.Resources.My_texts.PageFogot_quenmatkhau;
}
@section css{
    <link href="~/Content/Client/css/ForgotPassword.css" rel="stylesheet" />
}
<div class="forgot-password row w-100">
    <div class="form-forgot-password col-xl-5 col-lg-7 col-md-7 col-sm-8 col-9 mx-auto">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>@Map4D.Resources.My_texts.PageFogot_khoiphucmatkhau</h4>
            <div class="form-group">
                <div class="forgot-title col-lg-8 col-md-10 mx-auto text-left pl-0">
                    <span>Email@*<a class="red-star"> *</a>*@</span>
                </div>
                <div class="col-lg-8 col-md-10 mx-auto pb-3 pl-0 pr-0">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @autofocus = "@autofocus" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-8 col-md-10 mx-auto pl-0 pr-0">
                    <input type="submit" id="btn-forgot" class="btn btn-default form-control" value="@Map4D.Resources.My_texts.PageFogot_guihuongdancailai" />
                </div>
                <div class="col-lg-8 col-md-10 mx-auto btn-register pt-2 pl-0">
                    <a href="@Url.Action("Login","Account")">@Map4D.Resources.My_texts.PageFogot_dangnhapMap4d</a>
                </div>

            </div>
        }
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/js/sweetalert2.js"></script>
    @if (ViewBag.Message != null)
    {
        <script>
            var message = '@ViewBag.Message';
            //khai báo biến sweetalert cho trường hợp NotFound
            var title = "@Map4D.Resources.My_texts.PageFogot_khongthekhoiphucmatkhau";
            var khongcotaikhoan = "@Map4D.Resources.My_texts.PageFogot_khongcotaikhoan";
            var vuilongthumailkhac = "@Map4D.Resources.My_texts.PageFogot_vuilongthumailkhac";
            var ok = "@Map4D.Resources.My_texts.PageFogot_ok";
            var url = '@Url.Action("ForgotPassword", "Account")';
            //khai báo biến sweetalert cho trường hợp False
            var taikhoanchuaxacnhan = "@Map4D.Resources.My_texts.PageFogot_taikhoanchuaxacnhan";
            var vuilongxacnhantruoc = "@Map4D.Resources.My_texts.PageFogot_vuilongxacnhantruoc";
            //khai báo biến sweetalert cho trường hợp True
            var urlLogin = '@Url.Action("Login","Account")';
            var khoiphucmatkhau = "@Map4D.Resources.My_texts.PageFogot_khoiphucmatkhau";
            var daguimail = "@Map4D.Resources.My_texts.PageFogot_daguimail";
            var truycapmail = "@Map4D.Resources.My_texts.PageFogot_truycapmail";
        </script>
        <script src="~/Scripts/js/ForgotPassword.js"></script>
    }
}
