@model Map4D.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = Map4D.Resources.My_texts.PageFogot_quenmatkhau;
}
@section css{
    <link href="~/Content/Client/css/ForgotPassword.css" rel="stylesheet" />
    <link href="~/Content/Client/css/textbox-button-label.css" rel="stylesheet" />
}
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "w-100", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row forgotpass">
        <h2 class="title col-12 text-center">@Map4D.Resources.My_texts.PageFogot_khoiphucmatkhau</h2>
        <div class="boxforgot col-lg-4 col-sm-5 col-9 mx-auto">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="title-label">Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @autofocus = "@autofocus" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group divBottom">
                <button type="submit" class="btn-submit col-12 btn">@Map4D.Resources.My_texts.PageFogot_guihuongdancailai</button>
                <div class="col-12 have-account pl-0 pr-0">
                    <p><a href="@Url.Action("Login","Account")"> @Map4D.Resources.My_texts.PageFogot_dangnhapMap4d</a></p>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/js/sweetalert2.js"></script>
    @if (ViewBag.Message != null)
    {
        <script>
            var message = '@ViewBag.Message';
            //khai báo biến sweetalert cho trường hợp NotFound
            var title = "@Map4D.Resources.My_texts.PageFogot_khongthekhoiphucmatkhau";
            var khongcotaikhoan = "@Map4D.Resources.My_texts.PageFogot_khongcotaikhoan";
            var vuilongthumailkhac = "@Map4D.Resources.My_texts.PageFogot_vuilongthumailkhac";
            var ok = "@Map4D.Resources.My_texts.PageFogot_ok";
            var url = '@Url.Action("ForgotPassword", "Account")';
            //khai báo biến sweetalert cho trường hợp False
            var taikhoanchuaxacnhan = "@Map4D.Resources.My_texts.PageFogot_taikhoanchuaxacnhan";
            var vuilongxacnhantruoc = "@Map4D.Resources.My_texts.PageFogot_vuilongxacnhantruoc";
            //khai báo biến sweetalert cho trường hợp True
            var urlLogin = '@Url.Action("Login","Account")';
            var khoiphucmatkhau = "@Map4D.Resources.My_texts.PageFogot_khoiphucmatkhau";
            var daguimail = "@Map4D.Resources.My_texts.PageFogot_daguimail";
            var truycapmail = "@Map4D.Resources.My_texts.PageFogot_truycapmail";
        </script>
        <script src="~/Scripts/js/ForgotPassword.js"></script>
    }
}
