@model Map4D.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = Map4D.Resources.My_texts.PageFogot_quenmatkhau;
}
@section css{
    <link href="~/Content/Client/css/ForgotPassword.css" rel="stylesheet" />
}
<div class="forgot-password row w-100">
    <div class="form-forgot-password col-md-5 mx-auto">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>@Map4D.Resources.My_texts.PageFogot_khoiphucmatkhau</h4>
            <div class="form-group">
                <div class="forgot-title">
                    <span class="col-6">Email@*<a class="red-star"> *</a>*@</span>
                </div>
                <div class="col-md-8 mx-auto">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @autofocus = "@autofocus" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-8 mx-auto">
                    <input type="submit" id="btn-forgot" class="btn btn-default form-control" value="@Map4D.Resources.My_texts.PageFogot_guihuongdancailai" />
                </div>
                <div class="col-md-8 mx-auto btn-register">
                    <a href="@Url.Action("Login","Account")">@Map4D.Resources.My_texts.PageFogot_dangnhapMap4d</a>
                </div>

            </div>
        }
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/js/sweetalert2.js"></script>
    @if (ViewBag.Message != null)
    {
        <script charset="UTF-8">
            $(document).ready(function () {
                var message = "@ViewBag.Message";
                if (message == "true") {
                    swal({
                        title: "@Map4D.Resources.My_texts.PageFogot_khoiphucmatkhau",
                        html: true,
                        html: '<p class="text-success mb-0">'+"@Map4D.Resources.My_texts.PageFogot_daguimail"+'</p>' +
                            '<p class="text-success mb-0">'+"@Map4D.Resources.My_texts.PageFogot_truycapmail"+'</p>',
                        confirmButtonClass: "w-100",
                        confirmButtonColor: '#0CF8C8',
                        confirmButtonText: "@Map4D.Resources.My_texts.PageFogot_ok",
                        allowOutsideClick: false,
                        showCloseButton: true,
                        closeOnConfirm: true
                        }).then((result) => {
                        if (result.value) {
                            var url = '@Url.Action("Login","Account")';
                                window.location.href = url.replace();
                        }
                    });
                }
                else {
                    if (message == "false") {
                        swal({
                            title: "@Map4D.Resources.My_texts.PageFogot_khongthekhoiphucmatkhau",
                            html: true,
                            html: '<p class="text-danger mb-0">'+"@Map4D.Resources.My_texts.PageFogot_taikhoanchuaxacnhan"+'</p>' +
                                '<p class="text-danger mb-0">'+"@Map4D.Resources.My_texts.PageFogot_vuilongxacnhantruoc"+'</p>',
                            confirmButtonClass: "w-100",
                            confirmButtonColor: '#0CF8C8',
                            confirmButtonText: "@Map4D.Resources.My_texts.PageFogot_ok",
                            allowOutsideClick: false,
                            showCloseButton: true,
                            closeOnConfirm: true
                        }).then((result) => {
                        if (result.value) {
                            var url = '@Url.Action("ForgotPassword", "Account")';
                                window.location.href = url.replace();
                        }
                    });
                    }
                    else
                    {
                         swal({
                            title: "@Map4D.Resources.My_texts.PageFogot_khongthekhoiphucmatkhau",
                            html: true,
                            html: '<p class="text-danger mb-0">'+"@Map4D.Resources.My_texts.PageFogot_khongcotaikhoan"+'</p>' +
                                 '<p class="text-danger mb-0"><b>' + $('#Email').val()+'</p>' +
                                '<p class="text-danger mb-0">'+"@Map4D.Resources.My_texts.PageFogot_vuilongthumailkhac"+'</p> ',
                            confirmButtonClass: "w-100",
                            confirmButtonColor: '#0CF8C8',
                            confirmButtonText: "@Map4D.Resources.My_texts.PageFogot_ok",
                            allowOutsideClick: false,
                            showCloseButton: true,
                            closeOnConfirm: true
                        }).then((result) => {
                        if (result.value) {
                            var url = '@Url.Action("ForgotPassword", "Account")';
                                window.location.href = url.replace();
                        }
                    });
                    }
                }
            });
        </script>
    }
}
