@using Map4D.Models
@model LoginViewModel
@{
    ViewBag.Title = Map4D.Resources.My_texts.ĐăngNhập;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Content/Client/css/styleLogin.css" rel="stylesheet" />
}
<div class="login row w-100">
    <div class="login-title col-12">
        <h1>@Map4D.Resources.My_texts.ĐăngNhập</h1>
    </div>
    <!-- /.login-logo -->
    <div class="login-content col-12">
        <div class="col-11 col-sm-6 col-md-4 mx-auto form-login">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true,"", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = Map4D.Resources.My_texts.MậtKhẩu })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-6 text-left">
                        <div class="checkbox icheck">
                            <label id="remember-me">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox" })
                                @Map4D.Resources.My_texts.GhiNhớMậtKhẩu
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-6 text-right">
                        <input type="submit" name="name" class="btn btn-block float-right" id="btn-submit" value="@Map4D.Resources.My_texts.ĐăngNhập" />
                    </div>
                    <!-- /.col -->
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}