@model Map4D.Models.RegisterViewModel
@{
    ViewBag.Title = Map4D.Resources.My_texts.Đăngký;
}
@section css{
    <link href="~/Content/Client/css/register.css" rel="stylesheet" />
    <link href="~/Content/sweetalert/css/sweetalert.min.css" rel="stylesheet" />
}
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "w-100", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row registerUser">
        <h2 class="col-12 text-center">@Map4D.Resources.My_texts.TieuDeDangKy</h2>
        <div class="boxRegister col-lg-4 col-md-6 col-sm-6 col-9 mx-auto">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="title-register">
                    <p>@Map4D.Resources.My_texts.TênĐăngNhập</p>
                </div>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input", @placeholder = Map4D.Resources.My_texts.TênĐăngNhập })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <div class="title-register">
                    <p>Email</p>
                </div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input", @placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="title-register">
                    <p>@Map4D.Resources.My_texts.MậtKhẩu</p>
                </div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control input", @placeholder = Map4D.Resources.My_texts.MậtKhẩu })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="divBottom">
                    <button type="submit" id="btnRegister" class=" col-12 btn">@Map4D.Resources.My_texts.Đăngký</button>
                    <div class="col-12 have-account pl-0 pr-0">
                        <span>@Map4D.Resources.My_texts.DaCoTaiKhoan<a href="@Url.Action("Login","Account")">@Map4D.Resources.My_texts.ĐãCóTàiKhoản</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/sweetalert/js/sweetalert.min.js"></script>
    @if (ViewBag.Message != null)
    {
        <script charset="UTF-8">
            $(document).ready(function () {
                var message = "@ViewBag.Message";
                if (message == "success") {
                    swal({
                        title: "@Html.Raw(Map4D.Resources.My_texts.notifyRegisterSuccess)",
                        text: "@Html.Raw(Map4D.Resources.My_texts.notifyRegisterConfirmMail)",
                        type: "success",
                        confirmButtonClass: "btn-primary",
                        confirmButtonText: "@Html.Raw(Map4D.Resources.My_texts.notifyRegisterButtonPopup)",
                        closeOnConfirm: false
                    }, function () {
                        var url = '@Url.Action("Register","Account")';
                        window.location.href = url.replace();
                    });
                }
            });
        </script>
    }
}
